[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=survey
Group=www-data
WorkingDirectory=/home/survey/NickersonLANSurvey/lansurvey
ExecStart=/home/survey/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          lansurvey.wsgi:application

[Install]
WantedBy=multi-user.target